.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  & .star {
    cursor: pointer;
    display: inline-block;
    position: relative;
    color: #ddd;
    font-size: 22px;
    outline: 0;
    outline-width: 0;
    &-full:before,
    &:hover:before,
    &:hover ~ .star:before {
      content: "\2605";
      position: absolute;
      color: #FDE16D;
    }
  }
}