.nav {
  background: #fff;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #ccc;
  &_wrapper {
    display: flex;
    flex: 0 1 900px;
    align-items: center;
  }
  &_link {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    height: 55px;
    padding: 0 25px;
    font-size: 14px;
    color: #000;
    font-weight: bold;
    text-decoration: none;
    transition: all .2s ease-in-out;
    &:hover,
    &.active {
      background: #ff6030;
      color: #fff;
    }
  }
}