.search-panel {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 1px solid #d3dce2;
  align-items: center;
  padding: 20px;
  background: #fff;
  &-disabled {
    opacity: 0.7;
  }
}