.tour {
  display: flex;
  flex-direction: column;
  background: #fff;
  border: 1px solid #d4dce3;
  padding: 15px;
  height: 210px;
  position: relative;
  cursor: pointer;
  outline: 0;
  outline-width: 0;
  &:hover {
    box-shadow: 0 0 8px rgba(0,0,0,0.35);
  }
  &_title {
    font-weight: bold;
    font-size: 14px;
    color: #4a4a4a;
    &::first-letter {
        text-transform: capitalize;
    }
  }
  &_price {
    text-align: right;
    font-weight: bold;
    background: #20b427;
    color: #fff;
    font-size: 18px;
    align-self: flex-end;
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 10px;
  }
  &_rating {
    position: absolute;
    top: 0px;
    right: 0px;
    background: #ffd321;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 0 23px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
  }
  &_image {
    width: 248px;
    height: 145px;
    margin-bottom: 10px;
  }
  &_special-offer {
    background: red;
    padding: 8px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    top: 6px;
    left: 6px;
    border-radius: 10px;
  }
}