body {
  background: #f7f7f7;
  margin: 0px;
  padding: 0px;
  font-family: Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.title {
  font-size: 24px;
  color: #484848;
}

.control {
  background: #fff;
  border: 3px solid #d3dce2;
  border-radius: 5px;
  height: 32px;
  display: inline-block;
  transition: border-bottom .15s ease-in-out;
  box-shadow: none;
  outline: 0;
  outline-width: 0;
  margin-right: 10px;
  font-size: 13px;
  &[type="button"],
  &-select {
    cursor: pointer;
    &:hover,
    &.active {
      border-color: #ff3d03;
    }
  }
  &-clear {
    height: 24px;
    border: none;
    color: #a7a7a7;
    &:hover {
      text-decoration: underline;
    }
  } 
  &_search {
    width: 300px;
    padding: 20px 16px;
    font-size: 16px;
    color: #505050;
    &:focus {
      border-color: #ff3d03;
    }
  }
}

.no-elements {
  margin: 50px;
  color: #c7c7c7;
  font-size: 20px;
  text-align: center;
}

ul {
  line-height: 1.4;
}

.link {
  color: #000;
  display: inline-block;
}